
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, 
body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    /* font-weight: 300; */
    font-size: 15x;
    font-style: normal;
}
.bg-primary {
    background-color: hsl(212, 45%, 89%)
}
.card {
    width: 20rem;
    height: auto;
}